BASE_URL=http://localhost

BACK_PORT=8080
BACK_URL_FROM_SERVER=http://backend
ALLOW_HOST=backend

FRONT_PORT=3000
FRONT_DOMAIN=localhost

MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=neumann_development
MYSQL_PORT=3306

# ログインにGoogle認証を採用しているため
# ローカルで動作確認したい場合は設定が必須
# ここは設定しなくても起動可能
GOOGLE_CLIENT_ID=fake.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=fake_secret
FRONT_REDIRECT_URI=http://localhost:3000
# ランダムの文字列を生成して使用
STATE_SECRET=fake_secret

# プロフィールに設定する画像をR2にアップロードするため
# こちらも動作確認したい場合は設定が必須
# ここは設定しなくても起動可能
CLOUDFLARE_R2_ACCESS_KEY_ID=123
CLOUDFLARE_R2_SECRET_ACCESS_KEY=123
CLOUDFLARE_R2_BUCKET=fake-bucket
CLOUDFLARE_R2_ENDPOINT=https://fake.r2.cloudflarestorage.com
BIZRANK_BUCKET_DOMAIN=pub-fake.r2.dev

# アソシエイトリンクを使用しているため
# 動作確認のみなら不要
PARTNER_TAG=fake-22

# Botが取得したデータをFirestoreに保存するため
# ここは設定しなくても起動可能
GOOGLE_APPLICATION_CREDENTIALS=path/to/keyfile.json

# Rails側でFirestoreのデータ取り込み時に使用する
# ここは設定しなくても起動可能
FIRESTORE_PROJECT=project-id
FIRESTORE_CREDENTIALS='{
  "contents": "keyfile.json contents"
}'