@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 255 2 17;
  --color-primary-shine: 255 145 145;
  --color-secondary: 77 201 255;
  --color-success: 9 186 181;
  --color-warning: 255 176 53;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 247 110 118;
    --color-primary-shine: 247 209 211;
    --color-secondary: 110 206 247;
    --color-success: 22 208 202;
    --color-warning: 255 196 105;
  }
}

@layer base {
  body {
    @apply bg-gray-50 dark:bg-gray-900;
    @apply text-gray-900 dark:text-gray-50;
  }
}

@layer components {
  .main-bg-color {
    @apply bg-gray-50 dark:bg-gray-900;
  }
  .sub-bg-color {
    @apply bg-white dark:bg-gray-700;
  }
  .sub-text-color {
    @apply text-gray-50 dark:text-gray-900;
  }
  .main-border-color {
    @apply border-gray-900 dark:border-gray-50;
  }
  .item-bg-color {
    @apply bg-gray-300 dark:bg-gray-700;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}

/* マークダウンの共通スタイル */
.common-renderer strong {
  @apply font-semibold;
}

.common-renderer a {
  @apply text-secondary hover:underline;
}

.common-renderer strong a {
  @apply font-bold;
}

.common-renderer h4 {
  @apply leading-none text-base font-semibold my-8;
}

.common-renderer h5 {
  @apply leading-tight text-sm font-semibold my-8;
}

.common-renderer blockquote {
  @apply border-l-4 border-gray-500 pl-4 pr-4 text-gray-500;
}


/* 条項用のスタイル */
#clause-renderer > * + * {
  @apply mt-0 mb-4;
}

#clause-renderer li + li {
  @apply mt-1;
}

#clause-renderer li > p + p {
  @apply mt-6;
}

#clause-renderer li > p {
  @apply px-0;
}

#clause-renderer p {
  @apply px-6;
}

#clause-renderer h1 {
  @apply leading-tight border-b text-2xl font-semibold my-8 pb-2;
}

#clause-renderer h2 {
  @apply leading-tight border-b text-xl font-semibold my-8 pb-2;
}

#about-renderer h3 {
  @apply leading-snug text-lg font-semibold my-8;
}

#clause-renderer h6 {
  @apply leading-tight text-sm font-semibold my-8;
}

#clause-renderer code {
  @apply font-mono text-sm inline rounded px-1 py-5;
}

#clause-renderer pre {
  @apply rounded-lg p-4;
}

#clause-renderer pre code {
  @apply block bg-transparent p-0 overflow-visible rounded-none;
}

#clause-renderer ul {
  @apply ml-6 pl-4 list-disc;
}

#clause-renderer ol {
  @apply ml-6 pl-4 list-decimal;
}

#clause-renderer ol > li > ul {
  @apply ml-0 py-2;
}

#clause-renderer kbd {
  @apply text-xs inline-block rounded border px-1 py-5 align-middle font-normal font-mono shadow;
}

#clause-renderer table {
  @apply border-gray-500;
}

#clause-renderer th {
  @apply border py-1 px-3;
}

#clause-renderer td {
  @apply border py-1 px-3;
}

/* about用のスタイル */
#about-renderer > * + * {
  @apply mt-0 mb-4;
}

#about-renderer h1 {
  @apply leading-tight text-2xl font-semibold my-12;
}

#about-renderer h2 {
  @apply leading-tight text-xl font-semibold my-4;
}

#about-renderer h3 {
  @apply leading-snug text-lg font-semibold my-8;
}

#about-renderer h6 {
  @apply leading-tight text-[10px] text-gray-500;
}
