@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 255 2 17;
  --color-primary-shine: 255 145 145;
  --color-secondary: 77 201 255;
  --color-success: 9 186 181;
  --color-warning: 255 176 53;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 247 110 118;
    --color-primary-shine: 247 209 211;
    --color-secondary: 110 206 247;
    --color-success: 22 208 202;
    --color-warning: 255 196 105;
  }
}

@layer base {
  body {
    @apply bg-gray-50 dark:bg-gray-900;
    @apply text-gray-900 dark:text-gray-50;
  }
}

@layer components {
  .main-bg-color {
    @apply bg-gray-50 dark:bg-gray-900;
  }
  .sub-bg-color {
    @apply bg-white dark:bg-gray-700;
  }
  .sub-text-color {
    @apply text-gray-50 dark:text-gray-900;
  }
  .main-border-color {
    @apply border-gray-900 dark:border-gray-50;
  }
  .item-bg-color {
    @apply bg-gray-300 dark:bg-gray-700;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    /* Chrome, Safari 対応 */
    display: none;
  }
}